
@font-face{
	font-family: 'sf-regular';
	src: url('../fonts/SF-UI-Display-Regular.ttf') format('truetype');
	font-weight: normal;
}

@font-face{
	font-family: 'sf-bold';
	src: url('../fonts/SF-UI-Display-Bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face{
	font-family: 'sf-thin';
	src: url('../fonts/SF-UI-Display-Thin.ttf') format('truetype');
	font-weight: 100;
}




/*Background*/
body{
	background-image: url('/-sign-up/log/bg.jpg');
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: 'sf-regular';
	font-weight: normal;
}
h1{
	color:  rgba(255,93,177,1);
	font-family: 'sf-thin';
	padding-top:  22px;
	font-weight: 100;
	margin: none;

}
.box{
	width: 330px;
	height: 485px;
	padding: 30px;
	background: #fff;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	z-index: 2;


}
.box header{
	text-transform: uppercase;
}
.box main{
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.box main form {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	
	width: 100%;
}
/*Submit*/
.box main form input[type="submit"]{
	align-self: flex-end;
	border: 0;
	background: none;
	text-align: center;
	border: 1px solid;
	padding: 10px;
	border-radius: 24px;
	cursor: pointer;
	width: 35%;
	margin-top: 45px;
	color:  rgba(255,93,177,1);




}
.box main form input[type="submit"]:hover{
	background: pink;
	transition: 0.5s;
}

.box main form input{
	margin-bottom: 20px;
}
/*Input*/
.box main form input[type="text"],.box input[type="password"]{
	border: 0;
	border-bottom: 1px solid #ddd;
	width: 100%;
	padding: 5px 0;
	background: none;
	display: block;
	outline: none;
	font-size: 13px;

	
}
.form-check-label{
	font-size: 13px;
	padding-top: 5px;
}
/*Checkbox*/
.form-check-input{
	font-size: 13px;
}
/*Icons*/
.fa-user{
	font-size: 15px;
	color: #a9a9a9;
    padding-bottom: 9px;
    margin: -15px;
    margin-top: 1px;
}
.flex{
	display: flex;
}
.fa-lock{
	font-size: 15px;
	color: #a9a9a9;
    padding-bottom: 9px;
    margin: -15px;
    margin-top: 1px;

}
.flex1{
	display: flex;
}
.flex2{
	display: flex;
}
.fa-envelope{
	font-size: 15px;
	color: #a9a9a9;
    padding-bottom: 9px;
     margin: -15px;
    margin-top: 1px;


}
.box2 h1{
	font-size: 13px;
	color: white;
    align-items: center;

}
.box2 p{
	font-size: 10px;
	color: white;
	
}
.box2{
	width: 400px;
	height: 360px;
	border-radius: 12px;
	text-align: center;
	margin: -48px;
	z-index: 1;
	align-self: center;
	background: rgba(124,169,247,1);
	background: -moz-linear-gradient(-45deg, rgba(124,169,247,1) 0%, rgba(240,132,218,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(124,169,247,1)), color-stop(100%, rgba(240,132,218,1)));
	background: -webkit-linear-gradient(-45deg, rgba(124,169,247,1) 0%, rgba(240,132,218,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(124,169,247,1) 0%, rgba(240,132,218,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(124,169,247,1) 0%, rgba(240,132,218,1) 100%);
	background: linear-gradient(135deg, rgba(124,169,247,1) 0%, rgba(240,132,218,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ca9f7', endColorstr='#f084da', GradientType=1 );

}	

	
.box2  button{
	font-size: 11px;
	border: 1px solid ;
	border-radius: 24px;
	text-align: center;
	color: white;
	margin-top: 10px;
	background: none;
	padding: 9px;
	width: 25.5%;
	cursor: pointer;


}


img{
	width: 100px;
	height: 100px;
	margin-top: 15%;
	background: #fff;
	 border-radius: 50%;
	 align-self: center;
}


@media screen and (max-width: 480px) {
	body{
		flex-direction: column;
	}
}
#menu .toggle-btn{
	left: 420px;
	padding: 10px;
	cursor: pointer;
	top: 20px;
	
}


